.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
    height: 850px;
    border: solid black 1px;
    background: rgb(0, 0, 0);
    
}

.block {
    position: absolute;
    width: 130px;
    height: 35px;
    background-image: url('Picture1.png');
    background-position: bottom;
    left: 50px;
}


.user {
    position: absolute;
    width: 240px;
    height: 25px;
    background-image: url('doreamon.jpg');
    background-position: bottom;
    /* left: 50px; */
    border-radius: 20px 20px 20px 20px;
}

.ball {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('ball.png');
}